/*
 * --- THEME BIGDADDY ---
 * Styles for MASTER screen styles.
----------------------------------------------------- */

/* ------------------ INDEX -------------------------
 * COLORS
 * GLOBAL
 * HEADER
 * MIDDLE
 * SIDEBAR FIRST
 * MIDDLE CONTENT
 * SIDEBAR RIGHT
 * FOOTER
 * FORMS
 * ADMIN
----------------------------------------------------- */

/* COLORS
---------------------------------------------------------------------- */
/*
GREEN: #b2cc00
BLUE: #00b6e8
BLACK: #000
BROWN: #3A2508
LILA: #ac00ec
PINK: #e5007b
*/

/* GLOBAL
---------------------------------------------------------------------- */
#global {
  margin: 0 auto;
  width: 960px;
}

/* HEADER
---------------------------------------------------------------------- */
#site-header {
  min-height: 110px;
  padding: 20px 10px 10px 0;
  position: relative;
}

#site-header .logo {
  display: block;
  float: left;
  margin: 0 10px 0 20px;
}

#site-header h2.site-name {
  font-size: 40px;
  margin-bottom: 0;
}

#site-header h2.site-name a {
  text-decoration: none;
}

#site-header h3.site-slogan {
  color: #8c8c8c;
}

#site-header #block-system-main-menu {
  position: absolute;
  right: 0;
  top: 70px;
}

#site-header #block-system-main-menu li {
  float: left;
  line-height: 2em;
  margin: 0 5px;
}

#site-header #block-system-main-menu li a {
  float: left;
  margin: 0 5px;
  font-size: 15px;
}

/* MIDDLE
---------------------------------------------------------------------- */
#middle .breadcrumb {
  margin-bottom: 30px;
}

#middle .breadcrumb li {
  float: left;
  padding-right: 3px;
}

#middle .breadcrumb li.current-page a {
  font-weight: bold;
  text-decoration: none;
}

/* SIDEBAR FIRST
---------------------------------------------------------------------- */
#sidebar-first {
  float: left;
  width: 222px;
  margin-right: 24px;
  font-size: 11px;
  line-height: 1.4em;
}

#sidebar-first .block {
  background: #00A9E0;
  padding: 15px;
  color: #fff;
  margin-bottom: 15px;
}

#sidebar-first .block p:last-child {
  margin-bottom: 0;
}

/* MIDDLE CONTENT
---------------------------------------------------------------------- */
#middle-content {
  float: left;
  width: 100%;
}

#middle-content li {
  list-style: disc;
  margin-left: 20px;
}

body.sidebar-second #middle-content {
  width: 550px;
}

body.sidebar-first #middle-content {
  width: 714px;
}

body.two-sidebars #middle-content {
  width: 386px;
}

/* SIDEBAR SECOND
---------------------------------------------------------------------- */
#sidebar-second {
  float: left;
  width: 386px;
  font-size: 11px;
  line-height: 1.4em;
  margin-left: 24px;
}

body.two-sidebars #sidebar-second {
  width: 304px;
}

#sidebar-second .block {
  background: #00A9E0;
  padding: 15px;
  color: #fff;
  margin-bottom: 15px;
}

#sidebar-second .block p:last-child {
  margin-bottom: 0;
}

/* FOOTER
---------------------------------------------------------------------- */
#site-footer {
  text-align: center;
  margin-top: 10px;
  padding: 5px;
}

/* FORMS
---------------------------------------------------------------------- */
input.form-text, textarea.form-textarea {
  background: #e8e8e8;
  border: 1px solid #212121;
  font-size: 1em;
  padding: 5px;
  margin-bottom: 10px;
  font-family: "Trebuchet MS", "Lucida Grande", Verdana, Arial, sans-serif;
}

input.form-text:focus, textarea.form-textarea:focus {
  background: #fff;
}

input[type="submit"] {
  cursor: pointer;
  font-size: 13px;
}

/* ADMIN
---------------------------------------------------------------------- */
div.styleguide {
  border: none
}

#styleguide-header {
  padding: 10px;
}

#styleguide-header .item-list {
  width: 18%;
}


/* Edit content Tabs */
#middle-content ul.primary {
  border: none;
  padding: 0;
  margin-left: 0;
  margin-bottom: 25px;
}

#middle-content ul.primary li {
  margin-left: 0;
}

#middle-content ul.primary li a {
  border: 0;
  padding: 4px 13px;
  font-size: 12px;
  background: #eee;
  color: #aaa;
  text-transform: uppercase;
}

#middle-content ul.primary li.active a {
  background: #00b6e8;
  color: #fff;
}

/* Message Status - error form inputs */
#middle-content div.messages {
 margin-bottom: 20px; 
 margin-top: 0;
}

#middle-content div.messages.error {
  background: #F2DEDE;
  border-color: #EED3D7;
  color: #B94A48;
  padding: 10px 5px;
}

.form-item input.error, .form-item textarea.error, .form-item select.error {
  border: 1px solid #B94A48;
  color: #B94A48;
}

#middle-content div.messages li {
  margin-left: 10px;
}

#middle-content div.messages.status {
  padding-left: 45px;
  background-color: #DFF0D8;
  border-color: #D6E9C6;
  color: #468847;
}

#middle-content div.messages.status p:last-child {
  margin-bottom: 0;
}
